<div class="about">
<article role="doc-abstract">
    <h2 class="arthead">
        <br>
     OUR STORY & PHILOSOPHY
    </h2>
    <p class="para">As a result of our more than 30 years in the luxury home furniture stores, we are <br> proud to say that not only we manufacture the 70% of what we offer to our exclusive <br> clientele but also we bring to you pieces of the best brands in the furniture industry. <br>Our furniture store have the mission to bring back againthe value for the home <br>furniture,remembering that the furniture is more than just a functional accessory. At the <br>end is a soul, the essence and the beauty of our homes, with the pieces we create <br> atmospheres and enjoyable spaces where we share, love and relax with our love ones. <br> Because your home furniture goes beyond the expression of justt something <br> beauty and elegant at the end its a reflection of the succes and life style of every <br> person living in this beautiful place, that we call home.  
     </p>
</article>
<div class="hero">
    <img src="assets/Resursi/Craftsman.jpg" alt="zanat">
</div>
</div>