<div>
    <nav>
        <div class="logo"><img src="assets/Resursi/logo.png" alt="Logo"></div>
        <div class="navigation">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a href="#sh">Shop</a></li>
                <li><a href="#ko">Contact</a></li>
 
            </ul>
        </div>
        <div class="icons">
            <div class="user">
                 <a href="#"> <img src="assets/Resursi/user.jpg" alt="user" class="slika"></a>
                 <a href="#">  <img src="assets/Resursi/N9dV0.png" alt="open" class="dole"></a>
            </div>
                 <a routerLink="/cart"> <img src="assets/Resursi/shoppingCart.jpg" class="cart" alt="shop"></a>      
             </div>
    </nav>
    <div>
        <aside>
            <a href="#"> <img src="assets/Resursi/twitter-solid.png" alt="social-media"></a>
            <a href="#"> <img src="assets/Resursi/pinterest.png" alt="social-media"></a>
            <a href="#"> <img src="assets/Resursi/instagram-logo.png" alt="social-media"></a>
            <a href="#"> <img src="assets/Resursi/facebook-logo.png" alt="social-media"></a>     
        </aside>
    </div>
    <div class="chat">
        <p>CHAT WITH US</p>
        <p> &#9206;</p>
    </div>
<div>
    <router-outlet></router-outlet>
</div>
</div>
