<div class="ceo">
    
 
   
    <div class="main">
        <div class="herotxt">
        <h1> <em>Fortisi Home Design <br>-second name for Style-</em> </h1>
        <br> 
        <h3 class="mainhead">
             Beauty that comes from <br>trust
         </h3>
         <br>
         <button role="button">Shop Now</button>
 </div> 
 
    <article role="doc-abstract">
        <h3 class="arthead">
         POWER OF THE IDEA AND THE ART OF CRAFTMANSHIP
        </h3>
        <p class="artpara">
            In our work, the experience of 60 years joins joinery with 20 years od interior design. Let <br>
            yourself be inspired by the unique projects that we were able to realize for demanding <br>
            clients. <br>
            The special thing about our work comes from a holistic view of things, coupled with an <br> unconditional commitment to quality.    
         </p>
    </article>
 
    <div class="shoppingList" id="sh">
 
    <div role="listbox1">
        <div role="listitem" class="item">
            <img src="assets/Resursi/bedRoom.jpg" alt="Spavaca-soba">
            <h4>Bed Room</h4>
            <p>RSD 25550,00</p>
        </div>
 
        <div role="listitem" class="item">
         <img src="assets/Resursi/kitchen.jpg" alt="kuhinja">
         <h4>Kitchen</h4>
         <p>RSD 35550,00</p>
     </div>
 
     <div role="listitem" class="item">
         <img src="assets/Resursi/krevet.jpg" alt="krevet">
         <h4>Bed</h4>
         <p>RSD 15550,00</p>
     </div>
 </div>
     <div role="listbox2">
     <div role="listitem" class="item">
         <img src="assets/Resursi/livingRoom2.jpg" alt="Dnevna-soba">
         <h4>Living Room</h4>
         <p>RSD 45550,00</p>
     </div>
 
     <div role="listitem" class="item">
         <img src="assets/Resursi/radniSto.jpg" alt="Radni-stolovi">
         <h4>Tables</h4>
         <p>RSD 5550,00</p>
     </div>
 
     <div role="listitem" class="item">
         <img src="assets/Resursi/stolica_sto.jpg" alt="stolice">
         <h4>Chair</h4>
         <p>RSD 4550,00</p>
     </div>
     </div>
     <button role="button" routerLink="/shop/LivingRoom" >Load More</button>
 </div>
 </div>
 
 <section role="group" class="kontakt" id="ko">
 <address>
 <h2 class="adr">
     Fortisi Home Design
 </h2>
 <p>A:  Laze Nancica 7 <br>Novi Sad, 21000  <br>T: 123-456-7890 <br>E: info@my-mail.com</p>
 <p>MON-FRI: 7am - 10pm <br>SATURDAY: 8am - 10pm <br>SUNDAY: 8am - 11pm</p>
 <p>FAQ / Shipping & Returns / <br>Store Policy / <br>Payment Methods</p>
 </address>
 
 <div role="forma">
     <form action="get">
         
             <input type="text" placeholder="Name" name="name">
             <input type="email" placeholder="Email" name="email" >
         <div class="two">
         <input type="text"placeholder="Subject" name="subject">
         <textarea name="" id="" cols="30" rows="5" placeholder="Message"></textarea>
         <input type="submit" value="SEND">
         </div>
     </form>
     <div class="news" role="doc-foreword">
         <h3>Get our Newsletters</h3>
         <div class="sub">
             <input type="email" name="email" placeholder="Enter your email here">
             <input type="submit" value="Subscribe Now" class="send">
         </div>
     </div>
 </div>
 </section>

 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2809.0269408742183!2d19.82146551555019!3d45.24724797909882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b1039f285cc69%3A0x6a786bc4f51a5a03!2z0JvQsNC30LUg0J3QsNC90YfQuNGb0LAgNywg0J3QvtCy0Lgg0KHQsNC0!5e0!3m2!1ssr!2srs!4v1582398259907!5m2!1ssr!2srs"  frameborder="0" style="border:0;" allowfullscreen=""></iframe>
 <footer>&copy; 2019 by SmartInIT. Created by Vida</footer>
 </div>

